.logo{
  width: 90px;
}
  


.carousel-item{
  height: 500px;
}

.carousel-item img{
  height: 100%;
 /* object-fit: cover;*/
  filter: grayscale(0.5);
}


.card-img-top{
  border-radius: 50px;
  padding: 20px;
}
/*.card{
border-radius: 30px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}*/
.card{
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}        
.card{
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}
.card:hover{
  box-shadow: 0 8px 8px 0 #a3aaae,0 8px 8px 0 #aaa9a8;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  -moz-transform:translate(0px,5px);
  cursor: pointer;
}

.card-body{
  border-radius: 25px;
  margin-top: -15px;

}

.btn-primary{
  border-radius: 50px;
  width: 100px;
  background: rgb(0, 91, 228);
}

/*.btn-primary:hover{
  background-color: ;
}*/


.tarjetas{
  background: rgb(222, 221, 221)
}







              


  @keyframes surprise
  {
      0% {transform: rotate(0deg) scale(1,1);;}
      10% {transform: rotate(7deg) scale(2,2);}
      20% {transform: rotate(-7deg) scale(2,2);}
      30% {transform: rotate(7deg) scale(2,2);}
      40% {transform: rotate(-7deg) scale(2,2);}
      50% {transform: rotate(7deg) scale(2,2);}
      60% {transform: rotate(-7deg) scale(2,2);}
      70% {transform: rotate(7deg) scale(2,2);}
      80% {transform: rotate(-7deg) scale(2,2);}
      90% {transform: rotate(7deg) scale(2,2);}
      100% {transform: rotate(0deg) scale(1,1);}
  }
           
  .navbar-brand img:hover{
    animation-name: surprise;
        -webkit-animation-name: surprise;
        -moz-animation-name: surprise;
    animation-duration: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
  }
  
    @keyframes surprise
    {
        0% {transform: rotate(0deg) scale(1,1);;}
        10% {transform: rotate(7deg) scale(2,2);}
        20% {transform: rotate(-7deg) scale(2,2);}
        30% {transform: rotate(7deg) scale(2,2);}
        40% {transform: rotate(-7deg) scale(2,2);}
        50% {transform: rotate(7deg) scale(2,2);}
        60% {transform: rotate(-7deg) scale(2,2);}
        70% {transform: rotate(7deg) scale(2,2);}
        80% {transform: rotate(-7deg) scale(2,2);}
        90% {transform: rotate(7deg) scale(2,2);}
        100% {transform: rotate(0deg) scale(1,1);}
    }
         
