.logo{
  width: 90px;
}
  


.carousel-item{
  height: 500px;
}

.carousel-item img{
  height: 100%;
 /* object-fit: cover;*/
  filter: grayscale(0.5);
}


.card-img-top{
  border-radius: 50px;
  padding: 20px;
}
/*.card{
border-radius: 30px;
box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;

}*/
.card{
box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}        
.card{
  transition: .5s, color .10s;
  -webkit-transition: .5s, color .10s;
  -moz-transition: .5s, color .10s;
}
.card:hover{
  box-shadow: 0 8px 8px 0 #a3aaae,0 8px 8px 0 #aaa9a8;
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  -moz-transform:translate(0px,5px);
  cursor: pointer;
}

.card-body{
  border-radius: 25px;
  margin-top: -15px;

}

.btn-primary{
  border-radius: 50px;
  width: 100px;
  background: rgb(0, 91, 228);
}

/*.btn-primary:hover{
  background-color: ;
}*/


.tarjetas{
  background: rgb(222, 221, 221)
}







              


  @keyframes surprise
  {
      0% {transform: rotate(0deg) scale(1,1);;}
      10% {transform: rotate(7deg) scale(2,2);}
      20% {transform: rotate(-7deg) scale(2,2);}
      30% {transform: rotate(7deg) scale(2,2);}
      40% {transform: rotate(-7deg) scale(2,2);}
      50% {transform: rotate(7deg) scale(2,2);}
      60% {transform: rotate(-7deg) scale(2,2);}
      70% {transform: rotate(7deg) scale(2,2);}
      80% {transform: rotate(-7deg) scale(2,2);}
      90% {transform: rotate(7deg) scale(2,2);}
      100% {transform: rotate(0deg) scale(1,1);}
  }
           
  .navbar-brand img:hover{
    animation-name: surprise;
        -webkit-animation-name: surprise;
        -moz-animation-name: surprise;
    animation-duration: .8s;
        -webkit-animation-duration: .8s;
        -moz-animation-duration: .8s;
  }
  
    @keyframes surprise
    {
        0% {transform: rotate(0deg) scale(1,1);;}
        10% {transform: rotate(7deg) scale(2,2);}
        20% {transform: rotate(-7deg) scale(2,2);}
        30% {transform: rotate(7deg) scale(2,2);}
        40% {transform: rotate(-7deg) scale(2,2);}
        50% {transform: rotate(7deg) scale(2,2);}
        60% {transform: rotate(-7deg) scale(2,2);}
        70% {transform: rotate(7deg) scale(2,2);}
        80% {transform: rotate(-7deg) scale(2,2);}
        90% {transform: rotate(7deg) scale(2,2);}
        100% {transform: rotate(0deg) scale(1,1);}
    }
         
    :root{
      --white: #FFFFFF;
      --black: #2C3333;
      --gray: #B2B2B2;
      --orange: #FC5404;
      --dark-yellow: #F7B71D;
      --light-yellow: #FDEF96;
      --dark-green: #0E8388;
      --light-green: #64CCC5;
  }
  
  ::selection{
      background-color: var(--dark-green);
      color: var(--white);
  }
  
  body{
      background-color: #F9F9F9;
      color: var(--black);
  }
  
  #form-container{
      background-color: var(--white);
      box-shadow: 5px 5px 15px var(--light-green);
  
      margin: 30px auto;
      padding: 32px 24px;
      border-radius: 20px;
  }
  
  .row.align-items-center{
      align-content: center;
      height: 100%;
  }
  
  #form-container h1{
      margin-bottom: 32px;
  }
  
  /*INPUTS*/
  #form-container input[type="checkbox"]:checked{
      background-color: var(--dark-green);
      border: var(--dark-green);
  }
  
  #form-container input[type="checkbox"]:active{
      outline: none;
  }
  
  #form-container input[type="checkbox"]:focus{
      box-shadow: none;
  }
  
  #form-container .form-control{
      border: 1px solid var(--dark-green);
      border-radius: 10px;
      color: var(--black);
  }
  
  #form-container .form-control:focus{
      box-shadow: none;
  }
  
  #form-container .form-control:active{
      outline: none;
  }
  
  #form-container .form-floating label{
      color: var(--gray);
  }
  
  #form-container .form-floating > .form-control:focus~label{
      color: var(--dark-green);
  }
  
  /*BUTTON*/
  #form-container .btn{
      margin-top: 24px;
      width: 30%;
  
      color: var(--white);
      background-color: var(--light-green);
  }
  
  @media(max-width: 768px){
      #form-container .btn{
          width: 100%;
      }
  }
  
  /*LINKS*/
  #form-container #link-container{
      margin-top: 50px;
  
      font-size: .9rem;
      text-align: center;
  }
  
  #form-container a{
      text-align: center;
      transition: .5s;
  
      padding: 8px 0;
  
      color: var(--dark-green);
  }
  
  #form-container #link-container #reset{
      color: var(--dark-yellow);
  }
  
  #form-container #link-container #reset:hover{
      color: var(--light-green);
  }
  
  #form-container #link-container #register{
      color: var(--orange);
  }
  
  #form-container #link-container #register:hover{
      color: var(--light-green);
  }
  
  /*IMAGEM*/
  #form-container .img-fluid{
      margin-top: 30px;
  }
  